/*============================================================================
Car-Image Starts!!! (section: 5)
============================================================================*/


.car{
	background-image: url('../images/car.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 700px;
	position: relative;

	@mixin atMedium{
		height: 874px;
	}



	.car-text{
		position: absolute;
		padding-left: 10px;
		padding-right: 10px;
		top: 150px;

		@mixin atMedium{
			top: 350px;
			padding-right: 20px;
			padding-left: 20px;
		}

		@mixin atLarge{
			top: 440px;
		}
	}

	.car-text-heading{
		h1{
			font-family: 'Open Sans', sans-serif;
			font-size: 40px;
			font-weight: 400;
			color: #FFF;
			margin: 0;
			padding-bottom: 45px;

			@mixin atMedium{
				font-size: 60px;
				font-weight: 300;
			}
		}

	}

	.car-text-info{
		max-width: 450px;

		p{
			font-family:  'Open Sans', sans-serif;
			font-size: 13px;
			font-weight: 900;
			line-height: 24px;
			color: #FFF;
			margin: 0;
			padding-bottom: 25px;

			@mixin atMedium{
				font-weight: normal;
			}
		}

		a{
			text-decoration: none;
			color: #FFF;
			font-family:  'Open Sans', sans-serif;
			font-size: 14px;
			font-weight: bold;
		}
		.arrows{
			padding-left: 20px;
			}	
		}
}

/*============================================================================
Car-Image Ends!!!
============================================================================*/