/*===========================================================================
Gallery start!!! (section: 3)
===========================================================================*/
.gallery{

	@mixin atMedium{
		padding-left: 20px;
		padding-right: 20px;
	}
}


.gallery-box{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	max-width: 100%;
	height: 280px;
	font-family: 'Open Sans', sans-serif;
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: 300;
	color: #FFF;

	@media only screen and (min-width: 500px){
		padding-left: 40px;
		padding-right: 40px;
	}

	&-four--large{
/*		max-width: 400px;
		@media (min-width: 960px){
			max-width: 800px;
		}*/
		.double-width{
			@media (min-width: 960px){
				max-width: 600px;
			}
		}
	}

	h2{
		font-weight: 300;
		font-size: 30px;
		margin: 0;
		padding-bottom: 0px;

		@media  only screen and (min-width: 300px) {
			padding-bottom: 20px;
		}
	}

	p{	
		max-width: 300px;
		font-size: 13px;
		line-height: 18px;
	}

	a{
		transition: all .5s;
		position: absolute;
		bottom: 40px;
		text-decoration: none;
		color: #FFF;
		font-size: 14px;
		font-weight: 600;

		@media only screen and (min-width:700px){
			bottom:60px;
		}

		&:hover{
			transform: scale(1.1);
		}

	}

	.arrows{
		padding-left: 10px;
	}
}

.gallery-box-one{
	background-color: #f5989d;
}

.gallery-box-two{
	background-color: #615f7d;
}

.gallery-box-three{
	background-image: url('../images/gallery/box-3-medium.jpg');

	@media (min-width: 1200px){
		background-image: url(../images/gallery/box-3.png);
	}
}

.gallery-box-four--large{
	background-image: url('../images/gallery/box-4-medium.jpg');

	@media (min-width: 1200px){
		background-image: url(../images/gallery/box-4.png);
	}
}

.gallery-box-five{
	background-color: #82ca9c;
}

.gallery-box-six{
	background-image: url('../images/gallery/box-6-medium.jpg');

	@media (min-width: 1200px){
		background-image: url(../images/gallery/box-6.png);
	}
}


.gallery-box-six{
	display: block;
	visibility: visible;

	@media only screen and (min-width: 1200px) {
		display: none;
		visibility: hidden;
	}
}
/*============================================================================
Gallery ends!!!
============================================================================*/